body { 
  font-family: 'Open Sans', sans-serif; 
  margin: 0;
}

a { 
  text-decoration: none; 
}

html { 
  box-sizing: border-box; 
}
*,
*::before, 
*::after { 
  box-sizing: inherit; 
}

img { 
  max-width: 100%; 
}

.container{
  margin: 0 auto;
  width: 100%;
  max-width: 1220px;
  padding: 0 20px;
}

.list_none{
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.hidden{
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

.button-text{
  display: inline-block;
  padding: 9px 22px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button_black{
  background-color: #000000;
  display: inline-block;
  text-align: center;
  border: none;
}

.button_black:hover{
  background-color: #C29974;
  cursor: pointer;
}

.button_black:active{
  background-color: #CFAF91;
}

.button_black:disabled{
  background-color: #C1C1C1;
  cursor: default;
}

.button-text_disabled{
  color: #E1E1E1;
}
/* header */

.header{
  display: flex;
  padding-top: 50px;
  padding-bottom: 40px;
}

.header-logo{
  width: 100px;
  min-width: 100px;
  height: 52px;
}

.header-logo:hover{
  opacity: .5;
}

.header-logo:active{
  opacity: .2;
}

.header-nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-list-links{
  display: flex;
  margin-left: 60px;
  align-items: center;
  flex-wrap: wrap;
}

.header-list-search{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.link {
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #1E0606;
  margin-right: 20px;
}

.link:hover{
  opacity: .5;
}

.link:active{
  opacity: .2;
}

.link_cont {
  font-weight: bold;
  margin-left: 23px;
  margin-right: 0px;
}

.search:hover{
  opacity: .5;
  cursor: pointer;
}

.search:active{
  opacity: .2;
}

/* categories */

.one-category{
  display: flex;
  width: 280px;
  height: 270px;
  justify-content: center;
  align-items: center;
}

.category-link{
  width: 100%;
  height: 100%;
  padding-right: 44px;
  padding-left: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-titles{
  padding-right: 44px;
  padding-left: 44px;
  text-align: center;
}

.category-title{
  font-family: Montserrat;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 292px;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}

.category-link:hover{
  text-decoration-line: underline;
  color: #FFFFFF;
}

.category-link:active{
  text-decoration-line: underline;
  color: #FFFFFF;
}

.apparel-kids{
  position: relative;
}
.apparel-kids::before{
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('/images/category-1.jpg');
    z-index: -1;
}

.holiday-shop{
  position: relative;
}
.holiday-shop::before{
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('/images/category-2.jpg');
    z-index: -1;
}

.toys{
  position: relative;
}
.toys::before{
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('/images/category-3.jpg');
    z-index: -1;
}

.accessories{
  position: relative;
}
.accessories::before{
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('/images/category-4.jpg');
    z-index: -1;
}

/* page titles */

.title{
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1E0606;
}

.navigation{
  margin-bottom: 50px;
}

.active-tab{
  font-family: "Crimson Text";
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #1E0606;
  padding-right: 20px;
}

.active-tab:hover{
  opacity: 0.75;
}

.passive-tab{
  font-family: "Crimson Text";
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #1E0606;
  opacity: 0.5;
  padding-left: 20px;
}

/* footer */

footer{
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 85px;
}

footer::before{
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #434343;
  z-index: -1;
} 

.footer-inf{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

.footer-custom{
  margin-left: 242px;
}

.footer-connect{
  margin-left: 233px;
}

.footer-title{
  font-size: 16px;
  line-height: 22px;
  color: #AAAAAA;
  margin: 0;
  padding-bottom: 52px;
}

.footer-nav::after{
  content: ' ';
  position: absolute;
  width: 380px;
  height: 1px;
  left: 0;
  top: 45px;
  background-color: #666666;
}

.footer-custom::after{
  content: ' ';
  position: absolute;
  width: 380px;
  height: 1px;
  left: 400px;
  top: 45px;
  background-color: #666666;
}

.footer-connect::after{
  content: ' ';
  position: absolute;
  width: 380px;
  height: 1px;
  right: 0;
  top: 45px;
  background-color: #666666;
}

.footer-link{
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  display: inline-block;
  margin: 0;
  padding-bottom: 15px;
}

.footer-link:hover{
  opacity: .5;
}

.footer-link:active{
  opacity: .2;
}

p.footer-link:hover{
  opacity: 1;
}

p.footer-link:active{
  opacity: 1;
}

.footer-form{
  display: flex;
  margin-top: -3px;
}

.mail{
  font-size: 16px;
  line-height: 22px;
  color: #EBEBEB;
  width: 286px;
  height: 42px;
  background-color: #666666;
  border: 1px solid transparent;
  padding-left: 15px;
}

.mail::-webkit-input-placeholder{
  color: #EBEBEB;
}

.mail:hover{
  border: 1px solid #FFFDFD;
}

.mail:focus{
  border: 1px solid #FFFDFD;
}

.footer-soc{
  display: flex;
  padding-top: 25px;
}

.social-link{
  margin-right: 10px;
  display: inline-flex;
  justify-content: center;
  background: #666666;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: default;
}

.social-link:hover{
  opacity: .5;
  cursor: pointer;
}

.social-link:active{
  opacity: .2;
  cursor: pointer;
}

.footer-text{
  font-size: 16px;
  line-height: 22px;
  color: #A2A2A2;
  margin-left: 109px;
}

.footer-text:hover{
  text-decoration-line: underline;
  color: #FFFFFF;
  cursor: pointer;
}

.footer-text:active{
  text-decoration-line: underline;
  color: #FFFFFF;
  cursor: pointer;
}

.footer-last{
  position: relative;
  margin-top: 40px;
  display: flex;
}

.footer-last::after{
  content: ' ';
  position: absolute;
  width: 1180px;
  height: 1px;
  left: 0;
  top: -23px;
  background-color: #666666;
}

.footer-rating{
  display: flex;
  margin-right: 165px;
}

.stars{
  display: flex;
  padding-left: 25px;
  flex-wrap: wrap;
}

.star{
  padding-top: 3px;
  padding-left: 2.88px;
}

/* form */

.registration{
  background-color: #E5EAF8;
  width: 680px;
  padding: 23px 40px 42px 40px;
}

.form-label{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #1E0606;
  position: absolute;
  top: 20px;
}

.large-row{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 600px;
  padding-top: 43px;
}

.little-row{

  width: 290px;

}

.form-input{
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 13px 19px;
}

.form-input:focus{
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.form-acception{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #1E0606;
  position: absolute;
  top: 22px;
  left: 34px;
}

.checkbox-label{
  display: flex;
  align-items: center;
  margin-top: -22px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.indicator{
  display: flex;
  border: 2px solid #C29974;
  border-radius: 3px;
  width: 19px;
  height: 19px;
  margin-right: 10px;
}

.checkbox:checked + .indicator::before{
  content: ' ';
  background: url('/images/checked.png');
  margin: auto;
  width: 15px;
  height: 15px;
}

.form-area{
  height: 150px;
}

/* pages */

.pages{
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.numder{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #1E0606;
  margin-right: 64px;
}

.numder:hover{
  opacity: .5;
}

.numder-one{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #C29974;
  margin-right: 64px;
}

.left{
  display: block;
  width: 15px;
  height: 26px;
  background: url('/images/page-left.png');
}





