
.category-top{
  display: flex;
  flex-wrap: wrap;
}

.one-category{
  margin-right: 20px;
  margin-bottom: 20px;
}

.one-category:nth-child(4){
  margin-left: 200px;
}

.sale{
  position: relative;
}
.sale::before{
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('/images/category-5.jpg');
    z-index: -1;
}

.apparel-adults{
  position: relative;
}
.apparel-adults::before{
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('/images/category-6.jpg');
    z-index: -1;
}

.description{
  padding-left: 220px;
  padding-right: 320px;
  margin-bottom: 45px;
}

.description-title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1E0606;
  margin-top: 30px;
  margin-bottom: 25px;
}

.description-text{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  margin: 0;
  padding-bottom: 15px;
}