
.paper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.paper_item{
  width: 380px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.paper-img{
  height: 220px;
}

.paper-date{
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #818181;
}

.paper-title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #1E0606;
}

.paper-title:hover{
  text-decoration-line: underline;
}

.paper-title:active{
  text-decoration-line: underline;
}

.paper-text{
  margin: 0;
  padding-top: 15px;
  padding-bottom: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #1E0606;
}
